<p>Salut <%= @resource.email %>!</p>

<p>Il me semble bien que vous avez demandé à changer de mot de pass. Petit cachotier. Fais le avec ce lien ci-dessous :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'est pas vous, oulouloulou... Quelqu'un vous veut du mal cela veut direhan.</p>
<p>Votre mot de passe ne changera pas si vous ne faites rien ! </p>
<p>Au revoir.</p>
